<template>
  <q-page class="flex flex-center">
    <div class="column justify-center items-center">
      <div>
        <h5>Notification</h5>
      </div>
      <div>
        <img alt="Quasar logo" src="~assets/icon.png">
      </div>
      <dvi>
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message }}</p>
        <br>
        <textarea v-model="message" name="message" placeholder="message"></textarea>
      </dvi>
      <div>
        <p><br>
          OneSignal Web Push Notifications for Laravel
        </p>
        <q-btn :loading="loading" :color="color"  @click="callOneSignal">
         Send
        </q-btn>
      </div>
      <!--div style="padding-top: 30px;">
        <q-btn  :color="color">
          Send
        </q-btn>
      </div-->
      <div>
        <code>
          {{response}}
        </code>
      </div>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import axios from 'axios'
export default {
  name: 'PageIndex',
  data () {
    return {
      color: 'primary',
      response: '',
      loading: false
    }
  },
  methods: {
    async makeRequest () {
      let response
      let color = 'negative'
      this.loading = true

      try {
        response = ''
        const datainput = {
          name: 'test-user'
        }
        let req = await fetch(process.env.api + '/ostest', {
          method: 'POST',
          body: JSON.stringify(datainput)  
        })

        await console.log(req);

        if (!req.ok) throw new Error('error request')

        let {data} = await req.json()
        response = data
        color = 'positive'
      } catch (err) {
        console.log(err)
        response = err.message
      }

      setTimeout(() => {
        this.response = response
        this.color = color
        this.loading = false
      }, 700)
    },
    callOneSignal() {
      axios.post(process.env.api + '/ostest', {
        name: 'Nantikan'
      }).then(res => {
        this.response = res.data
        this.color = 'positive'
        console.log(res.data)
      }).catch(error => {
        console.log(error)
      })
    }
  }
}
</script>
