<template>
  <q-page class="flex flex-center">
    <div class="column justify-center items-center">
      <div>
        <h5>OneSignal Web Push Notifications for Laravel</h5>
      </div>
      <div>
        <img alt="Quasar logo" src="~assets/icon2.png">
      </div>
      <div>
        <center><p><br>
        </p></center>

        <q-card style="width: 600px">
            <q-item>
              <q-item-main>
                <p style="font-size: 24px"><b>Register</b></p>
                <div>
                   <p>Username</p>
                  <input type="text" style="width: 570px" id="input_tag1" float-label="Username">
               
                </div>
              </q-item-main>
            </q-item>
            <center><q-btn v-on:click="subscribeOnClick()" :color="color">Rergister</q-btn></center><br>  
          </q-card><br>
       
        <form @submit.prevent="submit_all">
          <q-card style="width: 600px">
            <q-item>
              <q-item-main>
                <p style="font-size: 24px"><b>Send to all</b></p>
                <div>
                  <q-input v-model="headings" float-label="Title" /><br>
                </div>
                <div>
                  <q-input v-model="content" float-label="Message"/><br><br>
                </div>
              
              </q-item-main>
            </q-item>
            <center><q-btn type="submit_all" :loading="loading" :color="color">
                      Submit to all
                    </q-btn></center><br>
             
          </q-card><br>
        </form>
        
        <form @submit.prevent="submit_name">
          <q-card style="width: 600px">
            <q-item>
              <q-item-main>
                <p style="font-size: 24px"><b>Send to username</b></p>
                <div>
                  <q-input v-model="headings_second" float-label="Title" /><br>
                </div>
                <div>
                  <q-input v-model="content_second" float-label="Message"/><br><br>
                </div>
                <div>
                  <q-input v-model="user_name" float-label="Username" id="user_name" />
                </div>
              </q-item-main>
            </q-item>
            <center><q-btn type="submit_name" :loading="loading" :color="color">
                  Submit to usernamr
                </q-btn></center><br>
           
          </q-card><br><br>
        </form>
      </div>
    </div>
      <div>
        <code>
          {{response}}
        </code>
      </div>
      </q-page> 
</template>

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
<script>
import axios from 'axios'
export default {
  name: 'PageIndex',
  data () {
    return {
      color: 'primary',
      response: '',
      headings: '',
      content: '',
      headings_second: '',
      content_second: '',
      user_name: '',
      title: '',
      message: '',
      text: '',
      loading: false
    }
  },
  methods: {
      submit_all(){
      //this.$router.push('/h')   
      axios.post(process.env.api + '/notify', {
      title: this.headings,
      message: this.content,
      user_name: this.user_name,
    }).then(res => {
      this.response = res.data
      this.color = 'positive'
      console.log(res.data)
      this.$router.push({ path: '/h', query: {holaData: res.data} })
      }).catch(error => {
      console.log(error)
    })
    },
     submit_name(){
      //this.$router.push('/h')
      axios.post(process.env.api + '/noti', {
      title_second: this.headings_second,
      message_second: this.content_second,
      user_name: this.user_name, 
    }).then(res => {
     this.response = res.data
     this.$router.push({ path: '/h', query: {holaData: res.data} })
     this.color = 'positive'
     console.log(res.data)
     }).catch(error => {
     console.log(error)
   })
   },
    subscribeOnClick: function (tagsSent) {
      var OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
          OneSignal.init({
            appId: "b12c5be8-a04a-4d58-91ce-8918f3446805",
            autoRegister: false,
          });
          OneSignal.registerForPushNotifications();
          OneSignal.push(function() {
          OneSignal.sendTags({
            //test: 'input_tag1',
           Username: document.getElementById("input_tag1").value
          }).then(function(tagsSent) {
            console.log(tagsSent);
          })
        });
        });
      } 
  }
}
</script>