<template>
 <form @submit.prevent="submit_all">
      <h5>Notification :  {{response}}</h5>
      {{nanti}}
 </form>
</template>

<script>
import axios from 'axios'
export default {
  name: 'PageIndex',
  data () {
    return {
      color: 'primary',
      response: '',
      headings: '',
      content: '',
      headings_second: '',
      content_second: '',
      user_name: '',
      title: '',
      message: '',
      text: '',
      loading: false
    }
  },
  methods: {
      submit_all(){
      //this.$router.push('/h')   
      axios.post(process.env.api + '/notify', {
      title: this.headings,
      message: this.content,
      user_name: this.user_name,
    }).then(res => {
      this.response = res.data
      this.color = 'positive'
      console.log(res.data)
      this.$router.push({ path: '/h', query: {holaData: res.data} })
      }).catch(error => {
      console.log(error)
    })
    },
     submit_name(){
      //this.$router.push('/h')
      axios.post(process.env.api + '/noti', {
      title_second: this.headings_second,
      message_second: this.content_second,
      user_name: this.user_name, 
    }).then(res => {
     this.response = res.data
     this.$router.push({ path: '/h', query: {holaData: res.data} })
     this.color = 'positive'
     console.log(res.data)
     }).catch(error => {
     console.log(error)
   })
   },
    subscribeOnClick: function (tagsSent) {
      var OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
          OneSignal.init({
            appId: "b12c5be8-a04a-4d58-91ce-8918f3446805",
            autoRegister: false,
          });
          OneSignal.registerForPushNotifications();
          OneSignal.push(function() {
          OneSignal.sendTags({
           Username: document.getElementById("input_tag1").value
          }).then(function(tagsSent) {
            console.log(tagsSent);
          })
        });
        });
      } 
  }
}
</script>

    